 h2{
  color: black;
  font-size:30px
}

#browny{
  width: 200px
}
#dog{
  color: black;
  font-size:80px
}
h3{
  color: Pink;
  font-size: 25px
}
#facts{
  font-size: 20px
}
#temple{
  width: 230px
}
#pup1{
  width:300px
}
#pup2{
  height: :230px
}
#pup3{
  width:230px
}
#pup4{
  width:230px
}
#care{
  font-size:20px
}
